.home-review {
  background: $black;
  padding: 32px 0 600px;
  position: relative;
  width: 100vw;

  @include responsive(t-xs) {
    padding-top: 64px;
  }

  @include responsive(t) {
    padding: 96px 0;
  }

  &-star {
    cursor: pointer;
    display: flex;
    fill: $yellow-color;
    height: 64px;
    position: absolute;
    right: 12px;
    top: -32px;
    transform: rotate(10deg);
    transition: 0.25s transform ease-in-out;
    width: 64px;

    &:hover {
      transform: rotate(0.5turn);
    }

    @include responsive(t) {
      left: 64px;
      transform: rotate(-10deg);
    }
  }

  &-main {
    margin: auto;
    max-width: 500px;
    padding: 0 12px;
    position: relative;

    @include responsive(t) {
      max-width: 1000px;
      padding: 0 24px;
    }
  }

  &-title {
    color: $white;
    margin-bottom: 32px;
    max-width: 400px;
  }

  &-text {
    color: $white;
    margin-bottom: 24px;
    max-width: 500px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &-item {
    border-radius: 4px;
    cursor: pointer;
    padding: 24px;
    position: absolute;
    transform: rotate(-10deg);
    transition: 0.25s transform ease-in-out,
      0.25s z-index ease-in-out;
    width: 600px;

    @include responsive(t) {
      width: 500px;
    }

    &:nth-child(1) {
      background: $green-color;
      bottom: -280px;
      left: 0%;
      z-index: 3;

      @include responsive(t) {
        bottom: auto;
        left: auto;
        right: -60px;
        top: -140px;
      }
    }

    &:nth-child(2) {
      background: $orange-color;
      bottom: -450px;
      left: 35%;
      z-index: 2;

      @include responsive(t) {
        bottom: auto;
        left: auto;
        right: -220px;
        top: 80px;
      }
    }

    &:nth-child(3) {
      background: $blue-color;
      bottom: -650px;
      left: 20%;
      z-index: 1;

      @include responsive(t) {
        bottom: auto;
        left: auto;
        right: -140px;
        top: 280px;
      }
    }

    &:hover {
      transform: rotate(-15deg);
      z-index: 4;

      .home-review-item {
        &-quote {
          opacity: 1;
        }
      }
    }

    &-quote {
      bottom: 24px;
      fill: $white;
      height: 96px;
      opacity: 0.5;
      position: absolute;
      right: 24px;
      transition: 0.25s opacity ease-in-out;
      width: 96px;
    }

    &-text {
      color: $white;
      line-height: normal;
      margin-bottom: 12px;
    }

    &-details {
      align-items: center;
      display: flex;
    }

    &-img {
      border-radius: 50%;
      margin-right: 12px;
    }

    &-name {
      color: $white;
      margin-bottom: 8px;
    }

    &-subject {
      color: $white;
    }
  }
}
