.home-schedule {
  background: $black;
  padding: 0 12px;

  @include responsive(s-xl) {
    padding: 0 24px;
  }

  &-all {
    margin: auto;
    max-width: 550px;
    position: relative;

    @include responsive(t-xs) {
      max-width: 1000px;
    }
  }

  &-title {
    color: $white;
    margin-bottom: 24px;
    text-transform: uppercase;
  }

  &-decoration {
    &-img,
    &-icon {
      position: absolute;
    }

    &-img {
      height: 48px;
      right: 0;
      top: 0;
      width: 48px;
    }

    &-icon {
      fill: $secondary-color;
      height: 32px;
      opacity: 0.8;
      right: 8px;
      top: -10px;
      width: 32px;
    }
  }

  &-main {
    @include responsive(t-xs) {
      align-items: center;
      display: flex;

      .map {
        width: 50%;
      }
    }
  }

  &-subtitle {
    color: $white;
    margin-bottom: 24px;
    text-align: center;
  }

  &-article {
    @include responsive(t-xs) {
      padding-left: 24px;
      width: calc(50% - 24px);
    }
  }

  &-item {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 6px;

    &:last-child {
      margin-bottom: 0;
    }

    &-day,
    &-hours {
      color: $white;
      text-align: center;
      width: 50%;
    }

    &-current {
      .home-schedule-item {
        &-day,
        &-hours {
          color: $secondary-color;
          font-family: $secondary-font-semi-bold;
        }
      }
    }
  }

  &-emergency {
    padding-top: 64px;

    &-icon {
      fill: $primary-color;
      height: 36px;
      margin: 2px 12px 0 0;
      width: 36px;
    }

    h3 {
      color: $primary-color;
      display: flex;
      font-size: 28px;
      margin-bottom: 24px;
    }

    p {
      color: $white;
      margin-bottom: 12px;

      @include responsive(s-xl) {
        margin-bottom: 24px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
